.container {
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
}

.heading {
    color: rebeccapurple;
} 

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    padding: 0px;
}

.nav-link-text {
    color: black;
}

.site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
    margin: 3rem 0;
}